
@font-face {
  font-family: "roboto-light";
  src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "computer";
  src: url("../assets/fonts/Computerfont.ttf");
}

@media screen and (min-width:1024px) {

  .logo-cont.mobile {
    display: none;
  }

  .header-cont {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
  }
  
  .header {
    position: absolute;
    width: 100vw;
    height: auto;
    /*
    Colors for gradient L to R:
     #05b9f5
     #01e7ef
     #40ba85
    */
    
    /*
    background: rgba(5,185,245,1);
    background: -moz-linear-gradient(-45deg, rgba(5,185,245,1) 0%, rgba(64,186,133,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,185,245,1)), color-stop(100%, rgba(64,186,133,1)));
    background: -webkit-linear-gradient(-45deg, rgba(5,185,245,1) 0%, rgba(64,186,133,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(5,185,245,1) 0%, rgba(64,186,133,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(5,185,245,1) 0%, rgba(64,186,133,1) 100%);
    background: linear-gradient(135deg, rgba(5,185,245,1) 0%, rgba(64,186,133,1) 100%);
    */
    background: #360033; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #360033, #0b8793);
    background: linear-gradient(to right, #360033, #0b8793);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05b9f5', endColorstr='#40ba85', GradientType=1 );
    left: 0%;
    top: 0%;
    box-shadow: 0px -25px 60px 5px #252525;
    z-index: 100;
  }
  
  .logo-cont {
    font-family: computer;
    font-size: 2.2vw;
    color: white;
    margin-left: 3vw;
    margin-right: 5vw;
    height: 100%;
    vertical-align: middle;
    position: relative;
    display: inline-block;
  }

  .nav-btn {
    display: none;
  }
  
  .nav {
    position: relative;
    vertical-align: middle;
    top: 0%;
    display: inline-block;
  }
  
  .nav-links {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: roboto-light;
    padding: 0.9vw 1.1vw 1.1vw 1.1vw;
    color: white;
    margin-right: 1.1vw;
  }
  
  .nav-links:hover {
    background-color: white;
    color: #252525;
    border-bottom: 0.2vw solid white;
  }
  
  .nav-links.active {
    border-bottom: 0.2vw solid white;
  }
}

@media screen and (min-width:320px) and (max-width: 1023px) {
  .logo-cont.desktop {
    display: none;
  }
  .header-cont {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
  }
  
  .header {
    position: absolute;
    width: 100vw;
    height: 24vw;
    /*
    Colors for gradient L to R:
     #05b9f5
     #01e7ef
     #40ba85
    */
    /*
    background: rgba(5,185,245,1);
    background: -moz-linear-gradient(-45deg, rgba(5,185,245,1) 0%, rgba(64,186,133,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,185,245,1)), color-stop(100%, rgba(64,186,133,1)));
    background: -webkit-linear-gradient(-45deg, rgba(5,185,245,1) 0%, rgba(64,186,133,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(5,185,245,1) 0%, rgba(64,186,133,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(5,185,245,1) 0%, rgba(64,186,133,1) 100%);
    background: linear-gradient(135deg, rgba(5,185,245,1) 0%, rgba(64,186,133,1) 100%);
    */
    background: #360033; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #360033, #0b8793);
    background: linear-gradient(to right, #360033, #0b8793);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05b9f5', endColorstr='#40ba85', GradientType=1 );
    left: 0%;
    top: 0%;
    box-shadow: 0px -15px 60px 5px #252525;
    z-index: 100;
  }
  
  .logo-cont {
    font-family: computer;
    font-size: 8vw;
    color: white;
    left: 50vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .nav-btn {
    display: none;
    position: absolute;
    left: 6vw;
    height: 1vw;
    width: 8vw;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-btn::before {
    content: "";
    position: absolute;
    height: 1vw;
    width: 8vw;
    background-color: white;
    top: -2.5vw;
  }

  .nav-btn::after {
    content: "";
    position: absolute;
    height: 1vw;
    width: 8vw;
    background-color: white;
    top: 2.6vw;
  }
  
  .nav {
    position: absolute;
    vertical-align: middle;
    line-height: 10vw;
    top: 12vw;
    display: flex;
    width: 96vw;
    left: 0vw;
    overflow: scroll;
    transition: all 0.2s;
    background-color: white;
    padding-left: 2vw;
    padding-inline-end: 2vw;
  }

  .nav.open {
    right: 0vw;
  }
  
  .nav-links {
    display: inline-block;
    text-decoration: none;
    font-size: 5vw;
    font-family: roboto-light;
    padding: 0.9vw 1.1vw 1.1vw 1.1vw;
    color: #252525;
    margin-right: 2.2vw;
  }

  .nav-links::after {
    content: "";
    margin-right: 3vw;
  }
  
  .nav-links.active {

    color: #360033;
    background: white;
    border-bottom: 4px solid #360033;
  }
}